* {
  box-sizing: border-box;
}

main {
  text-align: center;
  margin: auto;
  width: 70%;
  max-width: 70%;
  height: auto;
  padding: 20px;
  font-size: 20px;
  border-radius: 10px;
}

legend {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-top: 15px;
  margin-bottom: 20px;
}

fieldset {
  border: none;
}


.js-search-box {
  position: relative;
  border: 01px solid #9b9b9b;
  padding-left: 10px;
  width: 70%;
  height: 36px;
  font-size: 18px;
  vertical-align: bottom;
  margin-bottom: 10px;
}

button#submit{
  border: 1px solid #ff0000;
  border-left: 0;
  border-radius: 0 3px 3px 0;
  padding: 0;
  height: 36px;
  width: 60px;
  font-weight: 700;
  color: #ffffff;
  background: #ff0000;
  margin-bottom: 10px;
  margin-left: -5px;
  cursor: pointer;
}

.pageNav{
  position: relative;
  bottom: 0;
  padding-top: 10px;
  margin: 10px;
}

.container{
  visibility: hidden;
  text-align: center;
  margin: auto;
  width: 70%;
  max-width: 70%;
  height: auto;
  padding: 20px;
  font-size: 20px;
}


.js-results {
  margin: 15px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1024px;
  background-color: white;
  border-radius: 10px;
  padding-top: 10px;
}

.result {
  align-items: center;
  margin: 10px;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 1px -5px 80px 3px rgba(0,0,0,0.29);
  background-color: white;
}

.js-img {
  width: 300px;
  max-height: 180px;
}

.caption {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px;
  font-weight: bold;
}



